<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url is incorrect</title>
    <style>
        body{
            background-color: azure;
            display: flex;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Url for verifying email is Incorrect</h1>
    <p>Please make sure you didn't change anything in url</p>
</body>
</html>